.container {
    padding-top: 5px;
    padding-bottom: 5px;
}

#jumbo {
    background-color: white;
    h2 {
        font-size: 2em;
        color: #0040D0;
    }
    p {
        font-size: 1.2em;
            }
}
#jumbo2 {
    background-color: white;
    h2 {
        font-family: sans-serif;
        color: #0040D0;
    }
}

#fundName, #affi {
    width: 100%;
}

.dropdown-menu {
    width: 100%;
}

body {
    background-color: #f1f1f1;
}
