/***********************
  Thank you message
************************/
#aitah{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    line-height: 36.4px;
    word-spacing: 0px;
    color: #1C619A;
    display: inline-block;

}

.container {
  padding-top: 5px;
  padding-bottom: 5px;

}

.navbar {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
}

#jumbo {
  background-color: white;
  align-content: center;
  h3 {
    font-family: 'PT Sans', sans-serif;
    color: #0099cc;
  }
  p {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1em;
    text-align: justify;
  }
}

.keskele {
  text-align: center;
}

.dropdown-menu {
  width: 100%;
}

body {
  background-color: #f1f1f1;
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/


.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #0040D0;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  SHARP BUTTONS
************************/
.sharp {
  border-radius: 0;
}

/***********************
  CUSTON BTN VALUES
************************/



.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #0099cc;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}

#navBar {
  position: relative;
}

#menyy {
  position: absolute;
  right: 10px;
}

#adminFacultiesList {
  label {
    font-size: 13px;
    color: #777777;
  }
}


.nupp {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 1em;
    margin-bottom: 1em;
    max-width: 120px;
    max-height: 20px;
}

#loginForm{
    /* #####################################################################
   #
   #   Project       : Modal Login with jQuery Effects
   #   Author        : Rodrigo Amarante (rodrigockamarante)
   #   Version       : 1.0
   #   Created       : 07/28/2015
   #   Last Change   : 08/02/2015
   #
   ##################################################################### */

    @import url(http://fonts.googleapis.com/css?family=Roboto);

    * {
        font-family: 'Roboto', sans-serif;
    }

    #login-modal .modal-dialog {
        width: 350px;
    }

    #login-modal input[type=text], input[type=password] {
        margin-top: 10px;
    }

    #div-login-msg,
    #div-lost-msg,
    #div-register-msg {
        border: 1px solid #dadfe1;
        height: 30px;
        line-height: 28px;
        transition: all ease-in-out 500ms;
    }

    #div-login-msg.success,
    #div-lost-msg.success,
    #div-register-msg.success {
        border: 1px solid #68c3a3;
        background-color: #c8f7c5;
    }

    #div-login-msg.error,
    #div-lost-msg.error,
    #div-register-msg.error {
        border: 1px solid #eb575b;
        background-color: #ffcad1;
    }

    #icon-login-msg,
    #icon-lost-msg,
    #icon-register-msg {
        width: 30px;
        float: left;
        line-height: 28px;
        text-align: center;
        background-color: #dadfe1;
        margin-right: 5px;
        transition: all ease-in-out 500ms;
    }

    #icon-login-msg.success,
    #icon-lost-msg.success,
    #icon-register-msg.success {
        background-color: #68c3a3 !important;
    }

    #icon-login-msg.error,
    #icon-lost-msg.error,
    #icon-register-msg.error {
        background-color: #eb575b !important;
    }

    #img_logo {
        max-height: 100px;
        max-width: 100px;
    }

    /* #########################################
       #    override the bootstrap configs     #
       ######################################### */

    .modal-backdrop.in {
        filter: alpha(opacity=50);
        opacity: .8;
    }

    .modal-content {
        background-color: #ececec;
        border: 1px solid #bdc3c7;
        border-radius: 0px;
        outline: 0;
    }

    .modal-header {
        min-height: 16.43px;
        padding: 15px 15px 15px 15px;
        border-bottom: 0px;
    }

    .modal-body {
        position: relative;
        padding: 5px 15px 5px 15px;
    }

    .modal-footer {
        padding: 15px 15px 15px 15px;
        text-align: left;
        border-top: 0px;
    }

    .checkbox {
        margin-bottom: 0px;
    }

    .btn {
        border-radius: 0px;
    }

    .btn:focus,
    .btn:active:focus,
    .btn.active:focus,
    .btn.focus,
    .btn:active.focus,
    .btn.active.focus {
        outline: none;
    }

    .btn-lg, .btn-group-lg>.btn {
        border-radius: 0px;
    }

    .btn-link {
        padding: 5px 10px 0px 0px;
        color: #95a5a6;
    }

    .btn-link:hover, .btn-link:focus {
        color: #2c3e50;
        text-decoration: none;
    }

    .glyphicon {
        top: 0px;
    }

    .form-control {
        border-radius: 0px;
    }

}






